.page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*animation: fadeIn 0.3s ease-in-out; animação que eu fiz*/
  }
  
  .page-title {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: var(--cor-texto);
    font-weight: 600;
  }

  .btn-novo-requerimento {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 10px;
    transition: background-color 0.2s;
  }
  
  .btn-novo-requerimento:hover {
    background-color: #1d4ed8;
  }

  /*Tentando fazer uma animação
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }*/
  