.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: var(--cor-fundo);
    padding: 30px 20px;
    border-right: 1px solid var(--cor-borda);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  .sidebar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .sidebar .logo img {
    width: 32px;
  }

  .sidebar nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .sidebar nav ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }

  .sidebar nav ul li.sair {
    border-bottom: none;
    margin-top: 20px;
    color: var(--cor-erro);
  }

  .sidebar nav ul li::before {
    content: "• ";
    color: var(--cor-texto);
  }
}